.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex:1;
}

.App-body {
  display: flex;
  flex: 9;
}
